<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    <title>Customer Appoinment</title>
    </head>
    <body>
        <form action="Appoinment" method="post">
            <br />
            <br />
            <br />
            <div>
                <label>First Name</label>
                <input type="text" name="firstName" id="tbl1" /><br />
            </div>

            <div>
                <label>Last Name</label>
                <input type="text" name="lastName" id="tbl1" /><br />
            </div>

            <div>
                <label>Phone No</label>
                <input type="text" name="phone_Number" id="tbl1" /><br />
            </div>

            <div>
                <label>Cust_Age</label>
                <input type="text" name="customer_age" id="tbl1" /><br />
            </div>

            <div>
                <input type="submit" value="Book Appoinment" />

            </div>


        </form>
    </body>
</html>